# editor
/.idea

#rust
/target
**/*.rs.bk
bin/
pkg/
wasm-pack.log

#js
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
yarn-debug.log*
yarn-error.log*
.yarnrc
/node_modules
.eslintcache
*.tsbuildinfo

#dev
/dist
.husky/_
.env
